<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hunger Hunt</title>

    <!-- Bootstrap Core CSS -->
    {% load static %}

	{% block static %} 
		<link rel="stylesheet" type="text/css" href="{% static 'hunger\css\bootstrap.css' %}">
		<link href="{% static 'hunger\css\main_page.css' %}" rel="stylesheet">
	{% endblock %}
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">


        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Hunger Hunt</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">About</a>
                    </li>
		    {%if user.is_authenticated %}
			<li>
			<a id="username" href="">{{ user.username }}  </a>
			</li>
			<li>
			<a href="{% url 'logout' %}"> Logout</a>
			</li>
			{% else %}
			<li>
			<a href="{% url 'login' %}">Login</a>
			</li>
			<li>
                        <a href="{% url 'register' %}">Register</a>
			</li>

		    {% endif %}

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>

    <!-- Header -->
    <div id='head_page' class="intro-header">

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Welcome</h1>
                        <h3>Start by entering a restaurant of your choice</h3>
                        <hr class="intro-divider">
                            <div id="search-bar">
                                <form id="tfnewsearch">
                                        <input type="text" id="tfq2b" class="tftextinput2" name="q" size="21" maxlength="120" value="Please enter a restaurant"><input id="submit_arrow" type="button" value=">" class="tfbutton2">
                                </form>
                                <div class="tfclear"></div>
                            </div>

                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> <!-- row div -->
        </div>

    </div>
  
	
    
    <!-- Page Content -->
	
	

	{% for restaurant, foodNutrition in restaurantFoodNutrition.items %}
		<div hidden id='{{ restaurant.name|lower|cut:" " }}'>
				<div class="col-lg-12">
					<br>
					<br>
					<h2 id='parameter'>{{ restaurant.name }}</h2>
				</div>

			<table class="table table-striped table-hover">
				<thead>
					<tr><th>Name</th><th>score</th><th>price</th><th>calories</th><th>carbs</th><th>sugar</th><th>protein</th><th>fat</th>
					{% if user.is_staff %}<th>delete</th>{% endif %}
					{% if user.is_authenticated %}<th>upvote</th><th>downvote</th>{% endif %}
					</tr>
				</thead>
				<tbody>	
					{% for food, nutrition in foodNutrition.items %}
						<tr id="{{ food.id }}_row">
						<td>{{ food.name }}</td>
						<td id='score_{{ food.id }}'>{{ food.averageRating }}</td>
						<td>{{ food.price }}</td>
						<td>{{ nutrition.calories }}</td>
						<td>{{ nutrition.carbs }}</td>
						<td>{{ nutrition.sugar }}</td>
						<td>{{ nutrition.protein }}</td>
						<td>{{ nutrition.fat }}</td>
						{% if user.is_staff %}<td><button class="delete_button" id="{{ food.id }}">delete</button></td>{% endif %}
						{% if user.is_authenticated %} 
						<td><button class="upvote_button" id="upvote_{{ food.id }}">upvote</button></td>
					    <td><button class="downvote_button" id="downvote_{{ food.id }}">downvote</button></td>
						{% endif %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<a href="{% url 'createfood' %}">Add Food</a>
			<br>
			<div class="btn-toolbar pull-right fb-like social_media" data-href="{{ restaurant.faceBookLikeURL }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
			<div class="social_media" id="tweet"><a href="https://twitter.com/share" class="social_media btn-toolbar pull-right twitter-share-button" data-text="I just checked out {{ restaurant.name }} on hungerhunt!">Tweet</a></div>
			{% if restaurant.hasTwitter %}
				<a href="https://twitter.com/{{ restaurant.twitterHandle }}" class="btn-toolbar pull-right twitter-follow-button" data-show-count="false">Follow @mcdonalds</a>
			{% endif %}
			</div>
	{% endfor %}
	<div hidden id="addfood">
		
	</div>
	
			    
	<script>

	    $(document).ready(function(){
		$("#" + '{{ restaurant.name }}').hide();
		
	    });
		
		$(document).ready(function() {

			
			$(".delete_button").click(function() {
				var id = $(this).attr('id');
				$("#" + id + '_row').hide();
				$.ajax({
					type: "POST",
					url: "/delete/",
					data: { id:id, csrfmiddlewaretoken:'{% csrf_token %}' },
					success: function(response){
						alert(response.success);
					}
				});
				return false;
			});
		});
		
		$(document).ready(function() {
			$(".upvote_button").click(function() {
				var id = $(this).attr('id');
				var first = id.indexOf("_") + 1;
				var last = id.length;
				var sub = id.substring(first, last);
				var change_id = "score_" + sub
				var value = parseInt($("#" +change_id ).text(), 10)
				value += 1
				document.getElementById(change_id).innerHTML = value
				$.ajax({
					type: "POST",
					url: "/vote/",
					data: { id:id, csrfmiddlewaretoken:'{% csrf_token %}' },
					success: function(response){
						alert(response.success);
					}
				});
				return false;
			});
		});
		
		
		$(document).ready(function() {
			console.log("THIS SHOULD SHOW UP")
			    $(".social_media").click(function() {  
				console.log("works!")
			    });
			$(".downvote_button").click(function() {
				var id = $(this).attr('id');
				var id = $(this).attr('id');
				var first = id.indexOf("_") + 1;
				var last = id.length;
				var sub = id.substring(first, last);
				var change_id = "score_" + sub
				var value = parseInt($("#" +change_id ).text(), 10)
				value -= 1
				document.getElementById(change_id).innerHTML = value
				$.ajax({
					type: "POST",
					url: "/vote/",
					data: { id:id, csrfmiddlewaretoken:'{% csrf_token %}' },
					success: function(response){
						alert(response.success);
					}
				});
				return false;
			});
		});
		

		
	    $("#submit_arrow").click(function( event ) {
		    console.log('it got here')
		    $("#head_page").hide();
		    val1 = $('#tfq2b').val().toLowerCase();
		    val1 = val1.replace(/ /g,'');
		    console.log(val1)
		    $("#" + val1).show()
		    $("#addfood").show()
		    console.log('asdlfjasl;');
		    
		    val1 = "#" + val1;
		    event.preventDefault();
	    });
		$(function() {
		    $("#tfq2b").click(function() {
			if ($("#tfq2b").val() == "Please enter a restaurant"){
			    $("#tfq2b").val(""); 
			}
		    });
		});
		
	</script><div id="fb-root"></div>
	<script>
			
		window.fbAsyncInit = function() {
			FB.init({
			  appId      : '497603830381904',
			  xfbml      : true,
			  version    : 'v2.2'
			});
			var page_like_or_unlike_callback = function(url, html_element) {
				console.log("page_like_or_unlike_callback");
			}
			FB.Event.subscribe('edge.create', page_like_or_unlike_callback);
			FB.Event.subscribe('edge.remove', page_like_or_unlike_callback);
			
		};
			
		//facebook like/share
		(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;

		  
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	      
	      //twitter tweet 
		!function(d,s,id){
		  var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
		  if(!d.getElementById(id)){
			  js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
			  fjs.parentNode.insertBefore(js,fjs);
			  }
		  }(document, 'script', 'twitter-wjs');
		
		//twitter follow
		!function(d,s,id){
			var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
			if(!d.getElementById(id)){js=d.createElement(s);
			js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
			fjs.parentNode.insertBefore(js,fjs);
			}
		}(document, 'script', 'twitter-wjs');
	  


	</script>
	
	
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#home">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Your Company 2014. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>