<!doctype html>
<html>
  <head>
    <title>Hunger Hunt Registration</title>
    <meta charset="utf-8" />
        {% load static %}

	{% block static %} 
		<link rel="stylesheet" type="text/css" href="{% static 'hunger\css\bootstrap.css' %}">
		<link href="{% static 'hunger\css\register.css' %}" rel="stylesheet">
	{% endblock %}
  </head>

  <body>

  	<form id="signup">
		<h1>Start doing cool stuff in seconds.</h1>
		{{ form.email }}
		{{ form.username }}
		{{ form.password }}
		{{ form.password2 }}							
		{{ form.first_name }}
		{{ form.last_name }}
		<button type="submit">Click to join Hunger Hunt</button>	
	</form>

	
  </body>

</html>