<!doctype html>
<html>
  <head>
    <title>Hunger Hunt Registration</title>
    <meta charset="utf-8" />
        {% load static %}
	
	{% block static %}
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'hunger\css\bootstrap.css' %}">
	{% endblock %}
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home/">Hunger Hunt</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
		    {%if user.is_authenticated %}
			<li>
			<a id="username" href="">{{ user.username }}  </a>
			</li>
			<li>
			<a href="{% url 'logout' %}?next=/home/">Logout</a>
			</li>
			{% else %}
			<li>
			<a href="{% url 'login' %}">Login</a>
			</li>
			<li>
                        <a href="{% url 'register' %}">Register</a>
			</li>
		    {% endif %}
			<li>
                        <a href="{% url 'trends' %}">View Trends</a>
			</li>
                </ul>
            </div>
        </div>
    </nav>
      
    <div id='head_page' class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div> <!-- row div -->
        </div>
    </div>
  
    <div class="row">
      <div id="trends_title" "col-md-2 col-centered text-center"><h1>Trends</h1></div>
    </div>
	<div id='topRated'>
			<div class="col-lg-12">
				<br>
				<br>
				<h2 id='parameter'>5 Top Rated Foods</h2>
			</div>
		<table id='ratings' class="table table-hover">
			<thead>
				<tr><th>Food</th><th>Rating</th><th>Restaurant</th>
				</tr>
			</thead>
			<tbody>	
				{% for food in foodRatings %}
					<tr id="{{ food.id }}_row">
					<td>{{ food.name }}</td>
					<td id='score_{{ food.id }}'>{{ food.averageRating }}</td>
					<td>{{ food.restaurant }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	
	<div id='mostPopular'>
			<div class="col-lg-12">
				<br>
				<br>
				<h2 id='parameter'>5 Most Popular Restaurants</h2>
			</div>

		<table id='ratings' class="table table-hover">
			<thead>
				<tr><th>Restaurant</th><th>Likes</th><th>Tweets</th><th>Total</th>
				</tr>
			</thead>
			<tbody>	
				{% for restaurant in mostPopular %}
					<tr id="{{ food.id }}_row">
					<td>{{ restaurant.name }}</td>
					<td id='score_{{ food.id }}'>{{ restaurant.totalLike }}</td>
					<td>{{ restaurant.totalTweet }}</td>
					<td>{{ restaurant.totalTweet|add:restaurant.totalLike }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	
	<div id='popularToday'>
			<div class="col-lg-12">
				<br>
				<br>
				<h2 id='parameter'>Top 5 Foods Most Popular Today</h2>
			</div>

		<table id='ratings' class="table table-hover">
			<thead>
				<tr><th>Food</th><th>Rating</th>
				</tr>
			</thead>
			<tbody>	
				{% for item in popularToday %}
					<tr id="{{ food.id }}_row">
					<td>{{ item.food }}</td>
					<td id='score_{{ food.id }}'>{{ restaurant.totalLike }}</td>
					<td>{{ item.rating }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
		
	<script>

	</script>
  </body>

<style>
  #trends_title{
    padding-top: 50px;
    padding-left: 45%;
    
  }
  .col-centered{
    float: none;
    margin: 0 auto;
}
</style>
</html>